<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h2>Buenas <span th:text="${usuario}">usuario</span></h2><br>
    <h2><a href="/contacta">contacta</a></h2><br>
    <h2><a href="/productos">productos</a></h2><br>
    <h2><a href="/quienes">quienes-somos</a></h2><br>
    <h2><a href="/form">formulario</a></h2><br>
    <h2><a href="/categorias">categorias</a></h2><br>
    <img src="/imagen.png">
</body>
</html>