<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Departamento : <span th:text="${departamento.Nombre}"></span></h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="departamento.TrabajadoresDep">
                    <!-- Aquí-->
                    <td th:text="${}"></td>
                </tr>
            </tbody>
        </table>
</body>
</html>