<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Función</th>
        </thead>
        <tr th:each="dept : ${ListaDeptos}">
            <td th:text="${dept.id}">Id</td>
            <td th:text="${dept.nombre}">Nombre</td>
            <td th:text="${dept.Funcion}">Funcion</td>
        </tr>
    </table>
</body>
</html>