<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/myForm/submit}" th:object="${formInfo}">
        <label>Nombre:
            <input type="text" id="nombre" th:field="*{nombre}">
        </label></br>
        <label>Edad:
            <input type="text" id="edad" th:field="*{edad}">
        </label></br>
            <input type="submit" value="Enviar">
    </form>
</body>
</html>